div {
  border-radius: $radius;
}

h1,
h2,
h3 {
  margin: 0;
}

.homepage-wrapper {
  width: 700px;
  max-width: 700px;
  min-height: 1000px;
  background-color: $color-light;
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 75px;
}

.homepage-header {
  min-height: 250px;
  width: 620px;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .subpages {
    * {
      font-family: "Oswald", sans-serif;
      display: flex;
    }

    flex: 1;
    display: flex;
    justify-content: space-around;

    .order-page {
      position: relative;
      background-image: url(../../images/pizzeria-home/assets/pizza-1.jpg);
      background-position: center;
      background-size: cover;
      object-fit: cover;
      flex: 2;
      margin-right: 3px;
      height: 125px;
      cursor: pointer;
      text-align: center;
      overflow: hidden;

      .order-page-website {
        width: 100%;
        height: 100%;
      }

      .page-title {
        font-size: 26px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-light;
        font-weight: $font-normal;
        text-transform: uppercase;
        transition: all 0.6s ease;
      }

      .page-subtitle {
        position: absolute;
        display: inline-block;
        bottom: -30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: $font-text;
        width: 250px;
        color: $color-light;
        font-size: $base-size * 1.05;
        font-weight: $font-light;
        z-index: 1000;
        transition: all 0.6s ease;
      }

      &:hover {
        .page-title {
          top: 30%;
        }

        .page-subtitle {
          bottom: 20%;
        }
      }
    }

    .booking-page {
      position: relative;
      background-image: url(../../images/pizzeria-home/assets/pizza-2.jpg);
      background-position: center;
      background-size: cover;
      object-fit: cover;
      margin-left: 3px;
      flex: 2;
      background-color: darkgreen;
      display: flex;
      height: 125px;
      overflow: hidden;

      .booking-page-website {
        width: 100%;
        height: 100%;
      }

      .page-title {
        font-size: 26px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-light;
        font-weight: $font-normal;
        text-transform: uppercase;
        transition: 0.6s ease;
      }

      .page-subtitle {
        position: absolute;
        display: inline-block;
        bottom: -30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: $font-text;
        width: 250px;
        color: $color-light;
        font-size: $base-size * 1.05;
        font-weight: $font-light;
        z-index: 1000;
        transition: 0.6s ease;
      }

      &:hover {
        .page-title{
          top: 30%;
        }

        .page-subtitle {
          bottom: 20%;
        }
      }
    }
  }

  .opening-hours-info {
    flex: 1;
    background-color: $color-main;
    margin-top: 3px;
    min-height: 120px;
    font-family: "Oswald", sans-serif;
    position: relative;

    .info-wrapper {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .page-title {
        font-size: 26px;
        text-align: center;
        color: $color-light;
        text-transform: uppercase;
      }

      .page-subtitle {
        font-family: $font-text;
        text-align: center;
        color: $color-light;
        text-transform: uppercase;
        font-size: $base-size * 1.05;
        font-weight: $font-light;
        letter-spacing: 1px;
      }
    }
  }
}

.carousele-wrapper {
  height: 300px;
  width: 100%;
  margin-top: 70px;
  padding-top: 28px;
  position: relative;

  .carousele-img {
    width: 192px;
    height: 192px;
    margin: 0 0 0 48px;
    background-image: url(../../images/pizzeria-home/assets/pizza-3.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
  }

  .carousele-text {
    position: absolute;
    top: 15%;
    left: 40%;
    padding-right: 60px;

    & h2 {
      text-transform: uppercase;
      font-size: 14px;
    }

    .author {
      padding-top: 7px;
      font-style: italic;
      font-weight: bold;
    }
  }

  .carousele-pages {
    width: 100%;
    display: flex;
  }

  & ul {
    margin: auto;
    text-align: center;
    padding-top: 28px;
    padding-left: 0;

    & li {
      display: inline-block;

      & div {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: lightgray;
      }

      &:nth-child(2) {
        margin: 0 12px 0 12px;
      }
    }
  }
}

.photos-gallery {
  width: 620px;
  min-height: 400px;
  margin: 50px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .photo {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: black;
    background-position: center;
    background-size: cover;
    object-fit: cover;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 0;
      transition: 0.3s ease;
    }

    .icons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      font-size: 25px;

      .fas {
        color: #fff;
      }

      .fa-heart {
        margin-right: 10px;
        &:hover {
          color: $color-main;
          cursor: pointer;
        }
      }

      .fa-share-alt-square:hover {
        color: $color-main;
        cursor: pointer;
      }
    }

    &:hover {
      .overlay {
        opacity: 0.6;
      }
      .icons {
        opacity: 1;
      }
    }
  }

  .first-row {
    margin-bottom: 10px;
  }

  .one {
    background-image: url(../../images/pizzeria-home/assets/pizza-4.jpg);
  }

  .two {
    background-image: url(../../images/pizzeria-home/assets/pizza-5.jpg);
    margin: 0 10px;
  }

  .three {
    background-image: url(../../images/pizzeria-home/assets/pizza-6.jpg);
  }

  .four {
    background-image: url(../../images/pizzeria-home/assets/pizza-7.jpg);
  }

  .five {
    background-image: url(../../images/pizzeria-home/assets/pizza-8.jpg);
    margin: 0 10px;
  }

  .six {
    background-image: url(../../images/pizzeria-home/assets/pizza-9.jpg);
  }
}

footer {
  height: 90px;

  p {
    margin: 15px 0 0 40px;
    color: $color-main;
    text-decoration: underline;
    cursor: pointer;
  }
}
