#cart {
  >* {
    display: none;
  }
}

.cart {
  display: none;
}

div {
  border-radius: $radius;
}

h1,
h2,
h3 {
  margin: 0;
}

.homepage-wrapper {
  width: 700px;
  max-width: 700px;
  min-height: 1000px;
  background-color: $color-light;
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 75px;
}

.homepage-header {
  min-height: 250px;
  width: 620px;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  >.subpages {
    >* {
      font-family: "Oswald", sans-serif;
      display: flex;
    }

    flex: 1;
    display: flex;
    justify-content: space-around;

    >.order-page {
      position: relative;
      background-image: url(../../images/pizzeria-home/assets/pizza-1.jpg);
      background-position: center;
      background-size: cover;
      object-fit: cover;
      flex: 2;
      margin-right: 3px;
      height: 125px;
      

      >.page-title {
        font-size: 26px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-light;
        font-weight: $font-normal;
        text-transform: uppercase;
      }

      >.page-subtitle {
        position: absolute;
        bottom: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: $font-text;
        text-align: center;
        width: 250px;
        color: $color-light;
        font-size: $base-size * 1.05;
        font-weight: $font-light;
        z-index: 1000;
        transition: 0.8s ease;
      }
      
    }

    >.booking-page {
      background-image: url(../../images/pizzeria-home/assets/pizza-2.jpg);
      background-position: center;
      background-size: cover;
      object-fit: cover;
      margin-left: 3px;
      flex: 2;
      background-color: darkgreen;
      display: flex;
      height: 125px;

      >.page-title {
        font-size: 26px;
        margin: auto;
        color: $color-light;
        font-weight: $font-normal;
        text-transform: uppercase;
      }
    }
  }

  >.opening-hours-info {
    flex: 1;
    background-color: $color-main;
    margin-top: 3px;
    min-height: 120px;
    font-family: "Oswald", sans-serif;
    position: relative;

    >.info-wrapper {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      >.page-title {
        font-size: 26px;
        text-align: center;
        color: $color-light;
        text-transform: uppercase;
      }

      >.page-subtitle {
        font-family: $font-text;
        text-align: center;
        color: $color-light;
        text-transform: uppercase;
        font-size: $base-size * 1.05;
        font-weight: $font-light;
        letter-spacing: 1px;
      }
    }
  }
}

.carousele-wrapper {
  height: 300px;
  background-color: royalblue;
  margin-top: 70px;
}

.photos-gallery {
  width: 620px;
  min-height: 400px;
  background-color: gold;
  margin: 50px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  >.photo {
    height: 200px;
    width: 200px;
    background-color: black;
  }

  >.first-row {
    margin-bottom: 10px;
  }

  .two {
    margin: 0 10px;
  }

  .five {
    margin: 0 10px;
  }
}

footer {
  height: 90px;
}


/*<----------------> HOVER EFFECTS <---------------->*/

.order-page:hover>.page-title{
    bottom: -30%;
}

.order-page:hover>.page-subtitle{
    top: 90%;
}